<!DOCTYPE html>
<html>
<head>
	<title>{{{title}}}</title>
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
</head>
<body>

	{{!-- Navbar --}}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
		<div class="container">
			<a class="navbar-brand" href="/">Stock Market</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link" href="/">Home</a>
					<a class="nav-item nav-link" href="/about">About</a>
				</div>
			</div>

			{{!-- Search Form --}}
			<form action="/q" method="GET" class="form-inline">
		    <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search Stock Quote" aria-label="Search">
		    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
		  </form>
		</div>
	</nav>

	<div class="container">
	 	{{{body}}}
	</div>

</body>
</html>